<?xml version="1.0"?>
<!-- This launch file loads description file and runs in gdb -->

<launch>
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find flor_atlas_description)/robots/flor_atlas.urdf.xacro'" />
    <rosparam command="load" file="$(find vigir_humanoid_controller)/launch/controlled_joints.yaml" />

    <arg name="launch_prefix" default=""/> <!--xterm -e gdb -ex run - -args"/ -->
    <node name="test_humanoid" pkg="vigir_humanoid_controller" type="test_vigir_humanoid_controller"   output="screen" launch-prefix="$(arg launch_prefix)" >
    </node>
</launch>

